@import './home.css';
@import './login.css';
@import'./register_etu.css';
@import'./register_entr.css';
@import'./dashboardetu.css';
@import'./offres.css';
@import'./postuler.css';
@import'./candidatures.css';
@import'./dashboard_entreprice.css';
@import'./candidatures_entreprise.css';
@import'./dashboard_admin.css';
@import './entreprises.css';
@import './entreprise_form.css';
@import './offres.css';
@import './profile.css';



